body {
    margin: 0;
    font-family: sans-serif;
}

.osn{
    width: 100%;
    background-color: rgb(255, 204, 0);
    position: absolute;
    height: 25%;
    text-align: center;
    color: white;
}

.left{ 
    background-color: rgb(247, 127, 0);
    width: 100%;
    position: absolute;
    height: 25%;
    top: 25%;
    text-align: center;
    color: white;
}

.right{
    background-color: rgb(101, 185, 101);
    width: 100%;
    position: absolute;
    height: 25%;
    top: 50%;
    text-align: center;
    color: white;
}

.under{ 
    width: 100%;
    background-color: rgb(78, 126, 161);
    position: absolute;
    height: 25%;
    top: 75%;
    text-align: center;
    color: white;
}

@media (min-width: 768px) {
    .left{
        position: absolute;
        left: 0px;
        width: 20%;
        top: 0%;
        height: 100%;
        background-color: rgb(78, 126, 161);
    }
    .osn{
        margin-left: 20%;
        height: 60%;
        position: absolute;
        background-color: rgb(247, 127, 0);
    }
    .right{
        margin-left: 20%;
        height: 20%;
        position: absolute;
        top: 60%;
        background-color: rgb(255, 204, 0);
    }
    .under{
        margin-left: 20%;
        height: 20%;
        position: absolute;
        top: 80%;
        background-color: rgb(101, 185, 101);
    }

}

@media (min-width: 1024px) {
    .osn{
        display: flex;
        justify-content: center;
        margin: 0% 20%;
        width: 60%;
        height: 80%;
        background-color: rgb(78, 126, 161);
        
    }

    .left{
        position: fixed;
        background-color: rgb(101, 185, 101);
    }

    .right{
        margin: 0%;
        position: fixed;
        left: 80%;
        width: 245px;
        top: 0%;
        height: 100%;
        background-color: rgb(247, 127, 0);
    }

    .under{
        position: fixed; 
        width: 60%;
        background-color: rgb(255, 204, 0);
    }

    .osn:hover {
        border: 5px solid red;
        z-index: 1000;
    }
    .left:hover {
        border: 5px solid red;
        z-index: 1000;
    }
    .right:hover {
        border: 5px solid red;
        z-index: 1000;
    }
    .under:hover {
        border: 5px solid red;
        z-index: 1000;
    }
}